---
---

.canvas--container {
  position: relative;
  z-index: 0;

  .canvas--drawing {
    width: 100%;
    min-height: calc(100vh - 110px);

    .art--work {
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &.bin {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 2px;

      .year-container {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        min-height: 100vh;
        gap: 2px;

        .year-info {
          margin-top: 4px;
          border-top: 2px var(--txt-color) solid;
          text-align: center;
          opacity: 0;
        }
      }
    }

    &.grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2px;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
    }

    &.xy {
      display: block;
      position: relative;
    }
  }

  &.contract {
    padding-left: var(--menu-width);
  }

  .canvas--intro.mobile {
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .canvas--container.contract {
    padding-left: 0;
  }
  .canvas--container .canvas--intro.mobile {
    display: flex;
  }
}
