---
---

.common--menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: var(--menu-width);
  height: 100vh;
  padding: 20px;
  overflow: auto;
  overflow-y: scroll;
  overscroll-behavior-y: contain;

  background-color: var(--bg-color);
  transition: left 0.33s linear, right 0.33s linear;
  border: 1px solid rgba(0, 0, 0, 0.25);

  .menu--close--button {
    position: absolute;
    position: sticky;
    top: -20px;
    width: 1.6rem;
    height: 1.6rem;
    padding: 0;
    margin: -20px 0 -6px;
    border: 0;
    background-color: var(--bg-color);
    cursor: pointer;
    transition: transform 0.15s linear;

    &:hover {
      background-color: var(--bg-color-l);
    }
  }

  .menu--title {
    font-size: 1.3rem;
  }

  .menu--description {
    margin: 8px 0;
  }
  
  .menu--section {
    margin: 0;
    padding: 12px 0;
    border-top: 1px solid var(--bg-color-hl);

    .menu--section--title {
      font-size: 1.1rem;
    }

    .menu--section--description {
      margin: 8px 0;
    }

    .checkbox--item,
    .radio--item {
      display: flex;
      margin: 8px 0;

      input {
        width: 0;
        cursor: pointer;
      }

      label {
        font-size: 0.95rem;
        padding: 4px 6px;
        background-color: #ddd;
        user-select: none;
        cursor: pointer;

        &:hover {
          background-color: var(--bg-color-l);
        }

        &.disabled {
          opacity: 50%;
          pointer-events: none;
        }
      }

      input:checked + label {
        background-color: var(--bg-color-hl);
      }
    }

    .menu--section--items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;

      .checkbox--item {
        margin: 0;
      }

      &.disabled {
        opacity: 50%;
        pointer-events: none;
      }

      &.hidden {
        display: none;
      }

      .menu--section--item {
        width: 100%;

        .menu--section--item--title {
          font-size: 0.9rem;
        }

        .sorter--color-picker {
          width: 100%;
          height: 40px;
          margin: -3px;
          padding: 0;
          border: 1px var(--bg-color) solid;
          border-radius: 0.5rem;
          cursor: pointer;
        }

        .sorter--dropdown {
          width: 100%;
          margin-top: 4px;
        }
      }
    }

    .menu--section--subtext {
      padding-top: 8px;
      font-size: 0.8rem;

      &.hidden {
        display: none;
      }
    }

    .filter--counter--item {
      &.hidden {
        display: none;
      }
    }

    .filter--counter--button {
      text-decoration: underline;
      cursor: pointer;
    }

    &.counter--section {
      position: sticky;
      top: -20px;
      background-color: var(--bg-color);
    }

    &.export--section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;
    }
  }

  .menu--section + .menu--title {
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px solid var(--bg-color-hl);
  }

  &.hidden {
    width: 1.75rem;
    height: 1.75rem;
    padding: 0;
    overflow: hidden;
    border: 1px var(--txt-color) solid;

    .menu--close--button {
      transform: rotate(180deg);
      margin: 0;
      top: 0;
    }
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.sorter-menu {
  .menu--about--button {
    display: none;
  }
}

@media (max-width: 768px) {
  .common--menu {
    display: none;
  }
}
