---
---

.overlay--background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  &.hidden {
    display: none;
  }

  .overlay--window {
    position: relative;
    background-color: var(--bg-color);
    width: fit-content;
    height: fit-content;
    min-width: 360px;
    padding: 30px;

    .overlay--close--button {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.75rem;
      height: 1.75rem;
      padding: 0;
      margin: 0;
      border: 0;
      background-color: rgba(0,0,0,0);
      cursor: pointer;
  
      &:hover {
        background-color: var(--bg-color-l);
      }
    }

    .overlay--image--wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .loader {
        margin-bottom: 8px;
        width: 8px;
        aspect-ratio: 1;
        background: #000;
        border-radius: 50%;
        animation: l6 .5s infinite ease-in-out alternate;

        &.hidden {
          display: none;
        }
      }
      @keyframes l6 {
        0%  {box-shadow: 8px 0,-16px 0}
        50% {box-shadow: 8px 0,-8px 0}
        100%{box-shadow: 16px 0,-8px 0}
      }

      img {
        min-height: 0;
        max-width: 500px;
        max-height: 500px;
        width: auto;
        height: auto;
        display: block;
        object-fit: contain;
      }

      .overlay--boxes {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        .overlay--boxes--box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          border: 2px #2f2 solid;
          color: var(--bg-color);
          font-size: 0.8rem;
          text-shadow: -1px -1px 0 var(--txt-color-hl), 1px -1px 0 var(--txt-color-hl), -1px 1px 0 var(--txt-color-hl), 1px 1px 0 var(--txt-color-hl);;
        }
      }
    }

    .overlay--list--wrapper {
      max-width: 500px;
      max-height: 500px;
      overflow-y: scroll;

      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }

      .overlay--list--title {
        font-size: 1.5rem;
        margin-bottom: 12px;
      }

      .overlay--list--item {
        margin-bottom: 4px;
        padding-left: 50px;
        text-indent: -50px;
        &::before {
          content: "• ";
        }
      }
    }

    .overlay--colors {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 4px 0;
      gap: 4px;

      .overlay--colors--box {
        flex: 1;
        height: 1.25rem;
      }
    }

    .overlay--info{
      .overlay--info--section {
        margin: 12px 0;
      }

      .overlay--info--text {
        font-size: 1rem;
      }

      .overlay--info--link-section {
        margin: 12px 0;

        a,
        .overlay--info--button {
          font-size: 0.9rem;
          color: var(--txt-color);
          cursor: pointer;
          text-decoration: underline;

          &:hover {
            color: var(--txt-color-hl);
          }
        }
      }

      .overlay--info--subtext {
        width: 0;
        min-width: 100%;
        font-size: 0.8rem;

        &.hidden {
          display: none;
        }
      }
    }
  }

  .overlay--window.text--window {
    width: 50%;
    min-width: 640px;
  }
}

.datail-overlay--background {
  z-index: 80;
}

.results-overlay--background {
  z-index: 90;
}
