---
---

.sorter-menu {
  z-index: 40;
  right: 0;

  .menu--close--button {
    z-index: 45;
    left: 0;
    transform: rotate(180deg);
  }

  &.hidden {
    .menu--close--button {
      transform: rotate(0deg);
    }
  }
}
