---
overlay:
  results:
    title: Works Included
  detail:
    subtext: >-
      Interpretations generated automatically by Computer Vision.
      In case of errors, please contact acervosdigitais@usp.br.
  about: >-
    <p>About...</p>
canvas:
  mobile: >-
    This website was developed for desktop viewing.
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/canvas.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/overlay.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/menu.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/filter-menu.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/sorter-menu.css' | relative_url }}" type="text/css" />

    <script type="module" src="{{ 'js/main.js' | relative_url }}"></script>
  </head>

  <body>
    {% include canvas.html %}
    {% include overlays/results-overlay.html %}
    {% include overlays/detail-overlay.html %}
    {% include overlays/about-overlay.html %}
    {% include en/menus/filter-menu.html %}
    {% include en/menus/sorter-menu.html %}
  </body>
</html>
