<div class="detail-overlay--background overlay--background hidden" id="detail-overlay--background">
  <div class="overlay--window" id="detail-overlay--window">
    <button class="overlay--close--button" id="detail-overlay--close--button">
      <img src="{{ 'assets/icon_close.svg' | relative_url }}"/>
    </button>

    <div class="overlay--image--wrapper">
      <div class="loader" id="detail-overlay--loader"></div>
      <img src="" class="overlay--image" id="detail-overlay--image">
      <div class="overlay--boxes" id="detail-overlay--boxes"></div>
    </div>

    <div class="overlay--colors" id="detail-overlay--colors"></div>

    <div class="overlay--info" id="detail-overlay--info">
      <div class="overlay--info--section">
        <span class="overlay--info--text" id="detail-overlay--title--text"></span>
      </div>
      <div class="overlay--info--section">
        <span class="overlay--info--text" id="detail-overlay--collection--text"></span>
      </div>

      <a class="overlay--info--link" id="detail-overlay--info--link" target="_blank"></a>

      <div class="overlay--info--subtext hidden" id="detail-overlay--info--subtext">
        {{ page.overlay.detail.subtext }}
      </div>
    </div>
  </div>
</div>
