<nav class="filter-menu common--menu" id="filter-menu">
  <button class="menu--close--button" id="filter--close--button">
    <img src="{{ 'assets/icon_left.svg' | relative_url }}"/>
  </button>

  <div class="menu--title">Filters</div>
  <div class="menu--description">Refine the selection of works</div>

  <section class="menu--section counter--section">
    <span class="filter--counter--item hidden" id="filter--counter--available">Available Works:</span>
    <span class="filter--counter--item" id="filter--counter--found">Found Works:</span>
    <span class="filter--counter--item" id="filter--counter--count">0</span>
    <div class="filter--counter--button" id="filter--counter--list">List of Works</div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">Collections</div>
    <div class="menu--section--description"></div>
    <div class="menu--section--items" id="filter--collection--items"></div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">Techniques</div>
    <div class="menu--section--description">Select type of work or technique</div>
    <div class="menu--section--items" id="filter--category--items"></div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">Date</div>
    <div class="menu--section--description">Select date range by year of creation</div>
    <div class="menu--section--items" id="filter--date--items">
      {% include range-item.html label="From" slug="date--filter--min" %}
      {% include range-item.html label="To" slug="date--filter--max" %}
    </div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">Fauna and Flora</div>
    <div class="menu--section--description">Select elements of interest</div>
    <div class="menu--section--items" id="filter--object--items"></div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">AI Curations</div>
    <div class="menu--section--description">Select by groups determined by AI</div>
    <div class="menu--section--items" id="filter--cluster--items"></div>
    <div class="menu--section--subtext hidden" id="filter--cluster--subtext">
      Interpretations generated automatically by Computer Vision.
      In case of errors, please contact acervosdigitais@usp.br.
    </div>
  </section>
</nav>
