<nav class="sorter-menu common--menu" id="sorter-menu">
  <button class="menu--close--button" id="sorter--close--button">
    <img src="{{ 'assets/icon_left.svg' | relative_url }}"/>
  </button>
  <button class="menu--about--button" id="menu--about--button"></button>

  <div class="menu--title">Visualizations</div>
  <div class="menu--description">How to display the selected content</div>

  <section class="menu--section">
    {% include radio-item.html id="sorter--date--enable" name="sorter-type" value="date" label="Timeline" %}
    <div class="menu--section--description">By year of creation</div>
    <div class="menu--section--items disabled" id="sorter--date--items"></div>
  </section>

  <section class="menu--section">
    {% include radio-item.html id="sorter--color--enable" name="sorter-type" value="color" label="Chromatic Ordering" checked="checked" %}
    <div class="menu--section--description">By dominant colors</div>
    <div class="menu--section--items disabled" id="sorter--color--items">
      <div class="menu--section--item">
        <div class="menu--section--item--title">Select a color</div>
        <input type="color" value="#000000" class="sorter--color-picker" id="color--sorter--color-picker">
      </div>
    </div>
  </section>

  <section class="menu--section">
    {% include radio-item.html id="sorter--cluster--enable" name="sorter-type" value="cluster" label="AI Clustering" %}
    <div class="menu--section--description">By clustering</div>
    <div class="menu--section--items disabled" id="sorter--cluster--items">
      <div class="menu--section--item">
        <div class="menu--section--item--title">Select cluster</div>
        <select class="sorter--dropdown" id="cluster--sorter--cluster-picker"></select>
      </div>
    </div>
  </section>

  <section class="menu--section">
    {% include radio-item.html id="sorter--latent--enable" name="sorter-type" value="latent" label="Latent Space" %}
    <div class="menu--section--description">Visual/Semantic affinities calculated by AI model</div>
    <div class="menu--section--items disabled" id="sorter--latent--items"></div>
  </section>

  <section class="menu--section">
    {% include radio-item.html id="sorter--dateXcolor--enable" name="sorter-type" value="dateXcolor" label="Chromatic Timeline" %}
    <div class="menu--section--description">Organize by color and year</div>
    <div class="menu--section--items disabled" id="sorter--dateXcolor--items">
      <div class="menu--section--item">
        <div class="menu--section--item--title">Choose a color</div>
        <input type="color" value="#000000" class="sorter--color-picker" id="dateXcolor--sorter--color-picker">
      </div>
    </div>
  </section>

  <section class="menu--section">
    {% include radio-item.html id="sorter--clusterXcluster--enable" name="sorter-type" value="clusterXcluster" label="Cluster / Cluster" %}
    <div class="menu--section--description">2D visualizations of clusters</div>
    <div class="menu--section--items disabled" id="sorter--clusterXcluster--items">
      <div class="menu--section--item">
        <label for="x-dim">Choose a cluster:</label>
        <select name="x-dim" id="clusterXcluster--sorter--x-picker"></select>
      </div>
      <div class="menu--section--item">
        <label for="y-dim">Choose another cluster:</label>
        <select name="y-dim" id="clusterXcluster--sorter--y-picker"></select>
      </div>
    </div>
  </section>

  <div class="menu--title">Export</div>

  <section class="menu--section">
    <div class="menu--section--description">Create images from selected works</div>
    <div class="menu--section--items disabled" id="export--grid--items">
      <div class="checkbox--item" id="export--grid--button"><label>Grid</label></div>
    </div>
    <div class="menu--section--items disabled" id="export--objects--items">
      <div class="checkbox--item" id="export--objects--button"><label>Object Grid</label></div>
    </div>
    <div class="menu--section--items disabled" id="export--xy--items">
      <div class="checkbox--item" id="export--xy--button"><label>Object Compositions</label></div>
    </div>
  </section>
</nav>
