---
overlay:
  results:
    title: Obras Incluídas
  detail:
    subtext: >-
      Interpretações geradas automaticamente por Visão Computacional.
      Em caso de erros, por favor contate acervosdigitais@usp.br.
  about: >-
    <p>Sobre...</p>
canvas:
  mobile: >-
    Esta interface infelizmente não funciona em celulares.
---

<!DOCTYPE html>
<html lang="pt">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/canvas.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/overlay.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/menu.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/filter-menu.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/sorter-menu.css' | relative_url }}" type="text/css" />

    <script type="module" src="{{ 'js/main.js' | relative_url }}"></script>
  </head>

  <body>
    {% include canvas.html %}
    {% include overlays/results-overlay.html %}
    {% include overlays/detail-overlay.html %}
    {% include overlays/about-overlay.html %}
    {% include pt/menus/filter-menu.html %}
    {% include pt/menus/sorter-menu.html %}
  </body>
</html>
