---
overlay:
  results:
    title: Obras Incluídas
  detail:
    subtext: >-
      Interpretações geradas automaticamente por Visão Computacional.
      Em caso de erros, por favor contate acervosdigitais@usp.br.
  about: >-
    <p>Sobre...</p>
canvas:
  intro:
    Como Usar: >-
      Escolha um ou mais acervos e uma visualização para começar. Use os filtros para refinar as buscas e o menu de visualizações para criar arranjos diferentes a partir das obras filtradas.
    Filtros: >-
      Os filtros permitem selecionar elementos das obras. Eles alteram a quantidade de obras incluídas nas visualizações.
    Visualizações: >-
      As visualizações apresentam maneiras diferentes de explorar as obras selecionadas a partir dos filtros. As visualizações não alteram a quantidade de obras selecionadas, apenas a ordem e posicionamento em que as obras são dispostas na tela.
    Mosaicos: >-
      Os mosaicos são imagens geradas a partir dos filtros e visualizações escolhidos. Diferente das visualizações na tela, essas imagens não são interativas.
    Curadorias da IA: >-
      Seleções feitas automaticamente por inteligência artificial, a partir de características visuais e semânticas das obras de arte.
  mobile: >-
    A interface infelizmente não funciona em celulares.
---

<!DOCTYPE html>
<html lang="pt">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/canvas.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/overlay.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/menu.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/filter-menu.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/sorter-menu.css' | relative_url }}" type="text/css" />

    <script type="module" src="{{ 'js/main.js' | relative_url }}"></script>
  </head>

  <body>
    {% include canvas.html %}
    {% include overlays/results-overlay.html %}
    {% include overlays/detail-overlay.html %}
    {% include overlays/about-overlay.html %}
    {% include pt/menus/filter-menu.html %}
    {% include pt/menus/sorter-menu.html %}
  </body>
</html>
