<nav class="filter-menu common--menu" id="filter-menu">
  <button class="menu--close--button" id="filter--close--button">
    <img src="{{ 'assets/icon_left.svg' | relative_url }}"/>
  </button>

  <div class="menu--title">Filtros</div>
  <div class="menu--description">Refine a seleção de obras</div>

  <section class="menu--section">
    <span class="filter--counter--item hidden" id="filter--counter--available">Obras Disponíveis:</span>
    <span class="filter--counter--item" id="filter--counter--found">Obras Encontradas:</span>
    <span class="filter--counter--item" id="filter--counter--count">0</span>
    <div class="filter--counter--button" id="filter--counter--list">Lista de Obras</div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">Acervos</div>
    <div class="menu--section--description"></div>
    <div class="menu--section--items" id="filter--collection--items"></div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">Técnicas</div>
    <div class="menu--section--description"></div>
    <div class="menu--section--items" id="filter--category--items"></div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">Datas</div>
    <div class="menu--section--description">Selecione limite de data por ano de criação</div>
    <div class="menu--section--items" id="filter--date--items">
      {% include range-item.html label="De" slug="date--filter--min" %}
      {% include range-item.html label="Até" slug="date--filter--max" %}
    </div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">Fauna e Flora</div>
    <div class="menu--section--description">Selecione elementos das obras</div>
    <div class="menu--section--items" id="filter--object--items"></div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">Categorias por IA</div>
    <div class="menu--section--description"></div>
    <div class="menu--section--items" id="filter--cluster--items"></div>
    <div class="menu--section--subtext hidden" id="filter--cluster--subtext">
      Interpretações geradas automaticamente por Visão Computacional.
      Em caso de erros, por favor contate acervosdigitais@usp.br.
    </div>
  </section>
</nav>
