<nav class="sorter-menu common--menu" id="sorter-menu">
  <button class="menu--close--button" id="sorter--close--button">
    <img src="{{ 'assets/icon_left.svg' | relative_url }}"/>
  </button>
  <button class="menu--about--button" id="menu--about--button"></button>

  <div class="menu--title">Visualizações</div>
  <div class="menu--description">Como visualizar o conteúdo selecionado</div>

  <section class="menu--section">
    {% include radio-item.html id="sorter--date--enable" name="sorter-type" value="date" label="Linha do Tempo" %}
    <div class="menu--section--description">Organização por ano de criação</div>
    <div class="menu--section--items disabled" id="sorter--date--items"></div>
  </section>

  <section class="menu--section">
    {% include radio-item.html id="sorter--color--enable" name="sorter-type" value="color" label="Organização Cromática" checked="checked" %}
    <div class="menu--section--description">Organização por cores dominantes</div>
    <div class="menu--section--items disabled" id="sorter--color--items">
      <div class="menu--section--item">
        <div class="menu--section--item--title">Selecione uma cor</div>
        <input type="color" value="#000000" class="sorter--color-picker" id="color--sorter--color-picker">
      </div>
    </div>
  </section>

  <section class="menu--section">
    {% include radio-item.html id="sorter--cluster--enable" name="sorter-type" value="cluster" label="Curadoria" %}
    <div class="menu--section--description">Organização por categorias sugeridas por IA</div>
    <div class="menu--section--items disabled" id="sorter--cluster--items">
      <div class="menu--section--item">
        <div class="menu--section--item--title">Selecione uma categoria</div>
        <select class="sorter--dropdown" id="cluster--sorter--cluster-picker"></select>
      </div>
    </div>
  </section>

  <section class="menu--section">
    {% include radio-item.html id="sorter--latent--enable" name="sorter-type" value="latent" label="Espaço Latente" %}
    <div class="menu--section--description">Mapa de afinidade visual/semântica calculada por IA</div>
    <div class="menu--section--items disabled" id="sorter--latent--items"></div>
  </section>

  <section class="menu--section">
    {% include radio-item.html id="sorter--dateXcolor--enable" name="sorter-type" value="dateXcolor" label="Linha do Tempo Cromática" %}
    <div class="menu--section--description">Organização por cores e ano</div>
    <div class="menu--section--items disabled" id="sorter--dateXcolor--items">
      <div class="menu--section--item">
        <div class="menu--section--item--title">Selecione uma cor</div>
        <input type="color" value="#000000" class="sorter--color-picker" id="dateXcolor--sorter--color-picker">
      </div>
    </div>
  </section>

  <section class="menu--section">
    {% include radio-item.html id="sorter--clusterXcluster--enable" name="sorter-type" value="clusterXcluster" label="Cluster / Cluster" %}
    <div class="menu--section--description">Visualização 2D de categorias</div>
    <div class="menu--section--items disabled" id="sorter--clusterXcluster--items">
      <div class="menu--section--item">
        <label for="x-dim">Escolha uma categoria:</label>
        <select name="x-dim" id="clusterXcluster--sorter--x-picker"></select>
      </div>
      <div class="menu--section--item">
        <label for="y-dim">Escolha outra categoria:</label>
        <select name="y-dim" id="clusterXcluster--sorter--y-picker"></select>
      </div>
    </div>
  </section>

  <div class="menu--title">Exportar</div>

  <section class="menu--section">
    <div class="menu--section--description">Gere imagens a partir das obras selecionadas</div>
    <div class="menu--section--items disabled" id="export--grid--items">
      <div class="checkbox--item" id="export--grid--button"><label>Grid</label></div>
    </div>
    <div class="menu--section--items disabled" id="export--objects--items">
      <div class="checkbox--item" id="export--objects--button"><label>Grid de Objetos</label></div>
    </div>
    <div class="menu--section--items disabled" id="export--xy--items">
      <div class="checkbox--item" id="export--xy--button"><label>Composição de Objetos</label></div>
    </div>
  </section>
</nav>
